{
  "presets": [
    "@babel/preset-env"
  ],
  "plugins": [
    ["./src/kremling-babel-plugin.js", {
      "namespace": "super-custom",
      "postcss": {
        "autoprefixer": {}
      }
    }]
  ]
}